* {
  outline: 1px solid red; /* visually see element boundaries */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('Poppins-Medium.ttf') format('truetype');
}

html, body {
  height: 100vh;  /* Use viewport height units */
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center */
  justify-content: center; /* vertical center */
  height: 100vh; /* full viewport height */
  margin: 0;
  background: #222;
  font-family: 'Poppins';
  position: relative;
  cursor: none;
}
#stage {
  width: 960px;
  height: 540px;
  background: #000;
  position: relative; /* inside flex container */
  cursor: none;
}
.overlay {
  position: relative; /* so it flows naturally above #stage */
  margin-bottom: 20px; /* spacing above the game */
  width: 500px;
  height: 170px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}
.overlay > div:nth-child(1){
	font-size: 100px;
	line-height: 100px;
}
.overlay > div:nth-child(2){
	font-size: 20px;
}
#modal_shade{
	display: none;
	background: rgba(0,0,0,0.8);
	width:960px; height:540px;
	position:absolute;
	margin:auto;
	top:0; left:0; right:0; bottom:0;
	cursor: pointer;
}
#paused{
	cursor: pointer;
}
